<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}BC Mockup 1{% endblock %}</title>
  <link rel="stylesheet" href="assets/stylesheets/global.css">
  {% block head %}{% endblock %}
</head>
<body>
<header>
  <div class="wrapperMain">
    Hi
  </div>
</header>
<div class="wrapperMain">
  <h1>Gulp All The Things!</h1>
  {% block content %}{% endblock %}
  <p>Made with ♥ at <a href="http://viget.com">Viget</a></p>
  {% include "../shared/page-nav.html" %}
  <script src="assets/javascripts/shared.js"></script>
  {% block javascript %}{% endblock %}
</div>
</body>
</html>
